<%inherit file="../admin_dashboard_base.html" />
<%namespace name='static' file='../../static_content.html'/>
<%block name="headextra">
<link href="${static.url('admin_dash/css/dataTables.bootstrap.min.css')}" rel="stylesheet">
<link href="${static.url('admin_dash/css/responsive.bootstrap.min.css')}" rel="stylesheet">
<link href="${static.url('admin_dash/css/buttons.bootstrap.min.css')}">
<link href="${static.url('admin_dash/css/site-config.min.css')}" rel="stylesheet">
<link href="${static.url('admin_dash/css/bootstrap-editable.css')}" rel="stylesheet">
</%block>
<%block name="content">
<div class="course_list" id="course_list">
    <div class="x_panel">
        <div class="x_title">
            <div class="alert alert-danger hidden"></div>
            <h2>Courses Details</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            % if context.get('error_message','') != '':
                <div class="alert alert-danger">
                    <strong>${error_message}</strong>
                </div>
            % endif
            <table id="course_details_datatables" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed" cellspacing="0" width="100%">
                <thead>
                    <tr>
                    % for heading in course_headers:
                    <th class="${'nosort' if heading in no_sort_columns else ''}">${heading}</th>
                    % endfor
                    </tr>
                </thead>                
                <tbody>
                    % if len(course_details) != 0:
                        % for course in course_details:
                            <tr>
                            % for details in course:
                                % if details != 'course_id' and details != 'price' and details != 'certificate':
                                <td>${course[details]}</td>
                                % endif
                                % if details == 'certificate':
                                    <%
                                        img_src = "/static/synergetics-theme/admin_dash/images/icon-yes.png" if course[details] else "/static/synergetics-theme/admin_dash/images/icon-no.png"
                                    %>
                                    <td><img src="${img_src}"></td>
                                % endif
                                % if details == 'price':
                                <td><a href="#" class="course-price" data-type="text" data-pk="${str(course['course_id'])}" data-update="price" data-url="/site-administration/update-course-price/" data-title="Enter Price">${course[details]}</a><span id="${str(course['course_id'])}_currency"> ${settings.PAID_COURSE_REGISTRATION_CURRENCY[0].upper() if course[details] != 'FREE' else ''}</span></td>
                                % endif
                            % endfor
                                <td><a href="#" class="delete-course"><span class="fa fa-trash-o" data-course-key="${str(course['course_id'])}"></span></a></td>
                            </tr>
                        % endfor
                    % endif
                </tbody>
            </table>
            <!-- Confirm Delete Modal-->
            <div class="modal fade" id="deletecourseModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Delete Course</h4>
                        </div>
                        <div class="modal-body delete-course-error">
                            <div class="error hidden alert alert-danger">
                                <strong class="message"></strong>
                            </div>
                            <p>Are you sure you want to delete?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
                            <a href="#" role="button" class="btn btn-default btn-danger" id="confirm-delete-course">Delete</a>
                        </div>
                    </div>
                </div>
            </div>                   
        </div>
    </div>
</div>
</%block>
<%block name="js_extra">
<script src="${static.url('admin_dash/js/jquery.dataTables.min.js')}"></script>
<script src="${static.url('admin_dash/js/dataTables.bootstrap.min.js')}"></script>
<script src="${static.url('admin_dash/js/dataTables.buttons.min.js')}"></script>
<script src="${static.url('admin_dash/js/dataTables.responsive.min.js')}"></script>
<script src="${static.url('admin_dash/js/responsive.bootstrap.js')}"></script>
<script src="${static.url('admin_dash/js/buttons.bootstrap.min.js')}"></script>
<script src="${static.url('admin_dash/js/buttons.flash.min.js')}"></script>
<script src="${static.url('admin_dash/js/buttons.html5.min.js')}"></script>
<script src="${static.url('admin_dash/js/buttons.print.min.js')}"></script>
<script src="${static.url('admin_dash/js/bootstrap-editable.js')}"></script>
<script src="${static.url('admin_dash/js/configuration.js')}"></script>
<script>
    var table = $('#course_details_datatables').DataTable({
       'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort']
        }],
        buttons: [
            'csv', 'excel', 'pdf', 'print'
        ]        
    });
    table.buttons().container().appendTo( $('.col-sm-6:eq(0)', table.table().container()));

    $('.course-price').each(function(index, value){
        key = value.dataset.pk
        course_price_id = key.replace(/[^a-zA-Z0-9]/g, "")
        course_class = value.classList[0]
        value.setAttribute('id',course_price_id)
        $('#'+course_price_id).editable({
            success: function(response, newValue) {
                currencySpan = document.getElementById(response.course_key+"_currency")
                currencySpan.innerHTML = (newValue > 0) ? " ${settings.PAID_COURSE_REGISTRATION_CURRENCY[0].upper()}" : ""
            }
        })
    });

    $("#course_list").on('click', '.delete-course', function(){
        var courseKey = this.childNodes[0].dataset.courseKey;
        $("#confirm-delete-course").attr("data-courseKey", courseKey);
        $("#deletecourseModal").modal("show");
    });

    $("#course_list #deletecourseModal .close-modal").click(function(){
        if(!(($(".delete-course-error .error").hasClass("hidden")))){
            $(".delete-course-error .error").addClass("hidden");
            $(".delete-course-error .error .message").html("")
        }
    });
</script>
</%block>
