<%inherit file="../admin_dashboard_base.html" />
<%namespace name='static' file='../../static_content.html'/>
<% 
  from django.conf import settings 
%>
<%block name="headextra">
<link href="${static.url('admin_dash/css/dataTables.bootstrap.min.css')}" rel="stylesheet">
<link href="${static.url('admin_dash/css/responsive.bootstrap.min.css')}" rel="stylesheet">
<link href="${static.url('admin_dash/css/buttons.bootstrap.min.css')}">
<link href="${static.url('admin_dash/css/site-config.min.css')}" rel="stylesheet">
<link href="${static.url('admin_dash/css/bootstrap-editable.css')}" rel="stylesheet">
</%block>
<%block name="content">
<% from django.core.urlresolvers import reverse %>
<style type="text/css">
    .signatories-logo{
        width: 80px;
    }
</style>
<div class="course_list" id="signatories_list">
    <div class="x_panel">
        <div class="x_title">
            <div class="alert alert-danger hidden"></div>
            <h2>Certificate Signatories Details</h2>
            <a href="${reverse('add-signatories')}" class="btn btn-default btn-primary navbar-right">Add Signatories</a>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            % if context.get('error_message','') != '':
                <div class="alert alert-danger">
                    <strong>${error_message}</strong>
                </div>
            % endif
            <table id="signatories_details_datatables" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed" cellspacing="0" width="100%">
                <thead>
                    <tr>
                    % for heading in signatories_headers:
                    <th class="${'nosort' if heading in no_sort_columns else ''}">${heading}</th>
                    % endfor
                    </tr>
                </thead>
                <tbody>
                    % if len(signatories_details) != 0:
                        % for signatories in signatories_details:
                            <tr>
                            % for details in signatories:
                                % if details == 'signatories_name':
                                    <td>
                                        <a href="${reverse('update-signatories', args=[signatories['signatories_id']])}" class="update-link">${signatories[details]}</a>
                                    </td>
                                % elif details == 'signatories_signature_image':
                                    <td><img src="${signatories[details].url}" class="signatories-logo"></td>
                                % else:
                                    % if details != 'signatories_id':
                                        <td>
                                            <a href="${signatories[details]}" target="_blank">${signatories[details]}</a>
                                        </td>
                                    % endif
                                % endif
              
                            % endfor
                                <td>
                                    <a href="#" class="delete-signatories"><span class="fa fa-trash-o" data-course-key="${signatories['signatories_id']}" data-delete-url="${reverse('delete-signatories', args=[signatories['signatories_id']])}"></span></a>
                                </td>
                            </tr>
                        % endfor
                    % endif
                </tbody>
            </table>
            <!-- Confirm Delete Modal-->
            <div class="modal fade" id="deletesignatoriesModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Delete Signatories</h4>
                        </div>
                        <div class="modal-body delete-program-error">
                            <div class="error hidden alert alert-danger">
                                <strong class="message"></strong>
                            </div>
                            <p>Are you sure you want to delete?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
                            <a href="#" role="button" class="btn btn-default btn-danger" id="confirm-delete-signatories">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</%block>
<%block name="js_extra">
<script src="${static.url('admin_dash/js/jquery.dataTables.min.js')}"></script>
<script src="${static.url('admin_dash/js/dataTables.bootstrap.min.js')}"></script>
<script src="${static.url('admin_dash/js/dataTables.buttons.min.js')}"></script>
<script src="${static.url('admin_dash/js/dataTables.responsive.min.js')}"></script>
<script src="${static.url('admin_dash/js/responsive.bootstrap.js')}"></script>
<script src="${static.url('admin_dash/js/buttons.bootstrap.min.js')}"></script>
<script src="${static.url('admin_dash/js/buttons.flash.min.js')}"></script>
<script src="${static.url('admin_dash/js/buttons.html5.min.js')}"></script>
<script src="${static.url('admin_dash/js/buttons.print.min.js')}"></script>
<script src="${static.url('admin_dash/js/bootstrap-editable.js')}"></script>
<script src="${static.url('admin_dash/js/configuration.js')}"></script>
<script>
    var table = $('#signatories_details_datatables').DataTable({
       'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort']
        }],
        buttons: [
            'csv', 'excel', 'pdf', 'print'
        ]        
    });
    table.buttons().container().appendTo( $('.col-sm-6:eq(0)', table.table().container()));

    $(".delete-signatories").click(function(){
        var deleteUrl = this.childNodes[0].dataset.deleteUrl;
        $("#confirm-delete-signatories").attr("href", deleteUrl);
        $("#deletesignatoriesModal").modal("show");
    });

</script>
</%block>
